body{
  background-color: lightgrey;
}
ul{
  background-color: darkslategray;
  overflow: hidden;
  list-style-type:none;
  margin:0;
  padding:0;
  position:fixed;
  top:0;
  width:100%
}
.topnav a {
  float:left;
  text-align: center;
  color: whitesmoke;
  padding: 14px 26px;
  text-decoration: none;
  
}

.homepage{
width: 100%;
height:700px;

}
.myprojects{
width: 100%;
height:600px;
}
.sect{
margin-top: 30px;
text-align: center;
}
.imgs{
width:15%;
height:15%;
border-radius:50%;
margin-top: 100px;
margin-left: 42%;
}
h1, h2, h3, h4{
text-align:center;
color: darkslategray;
}

.projectlinks a{
padding: 15px 50px;
}
.facebook{
  color:blue
}
.instagram{
  color: purple;
}
.twitter{
  color:blue;
}
#contact p{
  float: left;
  margin-left: 20%;
  padding-left: 30px;
}